<div ng-controller="FileUploadController">
    <h3>File upload</h3>
    <input type="file" name="file" nv-file-select uploader="uploader" multiple/>
    Files total: [[uploader.queue.length]] <br/>
    <ul>
        <li ng-repeat="item in uploader.queue">
            [[item.file.name]]<br/>
        </li>
    </ul>
    <div class="progress">
        <div class="progress-bar progress-bar-playing" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': uploader.progress + '%'}"></div>
    </div>
    <button ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
        Upload All
    </button>
    <button ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
        Cancel All
    </button>
    <button ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
        Clear
    </button>

    <!--<form id="fileupload" action="/api/upload" method="POST" enctype="multipart/form-data" file-upload="options">-->
        <!--<input type="file" name="file"/>-->
        <!--<button type="submit">Send file</button>-->
    <!--</form>-->
    <!--[[a]]-->
    <!--<ul>-->
        <!--<li ng-repeat="item in items">-->
            <!--[[item.name]]-->
        <!--</li>-->
    <!--</ul>-->
</div>