doctype html
html(ng-app="app")
  head
    meta(charset="utf-8")
    title #{title} | WallOfSound
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/vendor/bootflat/css/bootflat.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/animation.css")
  body
    nav.row.navbar.navbar-custom.navbar-fixed-top
      .col-xs-12
        .brand-fixed
          ul.nav.navbar-nav
            li
              a(class="navbar-brand", href="/") WallOfSound
        .settings
          ul.nav.navbar-nav.navbar-right
            if isAuthenticated
              li #[a(href="#") #[span.glyphicon.glyphicon-user.glyphicon-xs] #{user.email}]
            else
              li #[a(href="/login") Sign in]
            li
              button(type="button", class="navbar-toggle dropdown-toggle", data-toggle="dropdown")
                span.icon-bar
                span.icon-bar
                span.icon-bar
              ul.dropdown-menu.dropdown-menu-custom
                li
                  a(href="/library") #[span.glyphicon.glyphicon-music.glyphicon-sm.margin-right-sm] My library
                  a(href="#") #[span.glyphicon.glyphicon-cog.glyphicon-sm.margin-right-sm] Account settings
                li.divider.divider-sm
                li
                  a(href="/logout") #[span.glyphicon.glyphicon-off.glyphicon-sm.margin-right-sm] Logout
    div.fixed-top-offset
      block content

    script(type="text/javascript", src="http://cdn.binaryjs.com/0/binary.js")
    script(type="text/javascript", src="/vendor/socket.io/socket.io.js")
    script(type="text/javascript", src="/vendor/socket.io-stream/socket.io-stream.js")
    script(type="text/javascript", src="/vendor/jquery/jquery.min.js")
    script(type="text/javascript", src="/vendor/angularjs/angular.min.js")
    script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")
    script(type="text/javascript", src="/vendor/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/index.js")