*{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
html {
  position: relative;
  min-height: 100%;
  height: 1px;
}
.ng-cloak { display: none; }
.relative { position: relative; }
.inline { display: inline-block; }
.fixed { position: fixed; }
.header6 { margin: 0 0 6px 0; }
.brand-fixed {
  position: fixed;
  width: 136px;
}
.brand-fixed-offset {
  padding-left: 136px;
}
.settings-offset-right {
  padding-right: 124px;
}
.settings .dropdown-menu>li>a:hover,
.settings .dropdown-menu>li>a:focus {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #656d78 0, #656d78 100%);
  background-image: -o-linear-gradient(top, #656d78 0, #656d78 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#656d78), to(#656d78));
  background-image: linear-gradient(to bottom, #656d78 0, #656d78 100%);
}
.fixed-top-offset {
  padding-top: 50px;
}
.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.icon-bar + .icon-bar {
  margin-top: 4px;
}
.dropdown-menu-custom>li>a{
  padding-right: 40px;
}
.navbar-custom .icon-bar {
  background-color: #434a54;
}
.navbar-custom .navbar-toggle {
  display: block;
}
.navbar-custom .navbar-toggle:hover {
  opacity: 0.8;
}
.navbar-custom a {
  color: #434a54;
}
.navbar-custom a:hover {
  opacity: 0.8;
}
.navbar-custom .nav>li>a:focus,
.navbar-custom .nav>li>a:hover {
  background-color: rgba(0,0,0,0);
}
.contains-background-layer {
  position: relative;
}
.background-el {
  position: absolute;
  z-index: -1;
}
.background-el.bottom-right {
  bottom: 0;
  right: 0;
}
.glyphicon-background {
  color: #f6f6f7;
}
.glyphicon-background.glyphicon-xl {
  font-size: 200px;
}
.glyphicon.glyphicon-xs {
  font-size: 10px;
}
.glyphicon.glyphicon-sm {
  font-size: 12px;
}
.glyphicon.margin-right-sm{
  margin-right: 4px;
}
.player .player-controls {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
.player .player-controls>a {
  padding-left: 5px;
  padding-right: 5px;
}
.player .player-controls>a:hover {
  cursor: pointer;
}
.player .player-playing {
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  float: left;
}
.player .player-playing p {
  margin: 0;
  font-weight: bold;
}
.player .player-album-cover {
  width: 36px;
  height: 36px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 12px;
  background-color: #ccc;
}
.player .player-fixed-1 {
  position: fixed;
  width: 128px;
  z-index: 1;
}
.player .player-fixed-1-offset {
  padding-left: 158px;
}

.player .controls { margin: 0; }
.player .controls .fixed { z-index: 1; }
.player .controls a {
  color: #434a54;
  font-size: 20px;
  margin: 0 10px 0px 0;
}

a.library-control { color: #434a54; }

.player .settings>li>a:hover,
.player .controls a:hover,
a.library-control:hover {
  cursor: pointer;
  opacity: 0.8;
}

.player .now-playing {
  padding-left: 90px;
  padding-right: 0;
}
.player .now-playing>p {
  margin: 0;
  line-height: 12px;
  font-size: 12px;
  height: 12px;
  overflow: hidden;
  word-break: break-all;
}
.player .progress-time>p {
  margin: 0;
  font-size: 10px;
  line-height: 10px;
}
.player .progress-time .elapsed { float: left; }
.player .progress-time .total { float: right; }
.player .progress {
  margin-top: 8px;
  margin-bottom: 0;
  height: 5px;
}
.player .progress-time {
  float: right;
  padding-right: 0;
  margin: 0;
}
.player .progress-time>p {
  margin: 0;
  line-height: 10px;
  font-size: 10px;
}
.player .settings {
  margin-top: 5px;
  margin-bottom: 5px;
}
.player .settings>li {
  margin-right: 6px;
}
.player .settings>li>a { color: #434a54; }
.player .settings>li>.heart.checked,
.player .settings>li>.heart:hover { color: #FF6C69; }
.progress-bar-playing {
  background-image: -webkit-linear-gradient(top, #707c8c 0, #434a54 100%);
  background-image: -o-linear-gradient(top, #707c8c 0, #434a54 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#707c8c), to(#434a54));
  background-image: linear-gradient(to bottom, #707c8c 0, #434a54 100%);
}
.progress-bar-buffering{
  background-image: -webkit-linear-gradient(top, #dbdbdb 0, #dbdbdb 100%);
  background-image: -o-linear-gradient(top, #dbdbdb 0, #dbdbdb 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#dbdbdb));
  background-image: linear-gradient(to bottom, #dbdbdb 0, #dbdbdb 100%);
  transition-duration: 0s;
  -webkit-transition-duration: 0s;
}
.divider.divider-xs { margin: 0 }
.divider.divider-sm { margin: 4px 0 }

.table-library>tbody>tr>td,
.table-library>tbody>tr>th,
.table-library>tfoot>tr>td,
.table-library>tfoot>tr>th,
.table-library>thead>tr>td,
.table-library>thead>tr>th{
  padding: 2px;
  border-top: 1px solid #efefef;
  font-size: 12px;
}
.table-library>thead>tr>th { border: none; }
