html
    position: relative
    min-height: 100%
    height: 1px
.relative
    position: relative;
.fixed-top-offset
    padding-top: 50px;
.icon-bar
    display: block
    width: 22px
    height: 2px
    border-radius: 1px
.icon-bar + .icon-bar
    margin-top: 4px
.navbar-custom .icon-bar
    background-color: #434A54;
.navbar-custom .navbar-toggle
    display: block;
    &:hover
        opacity: .8
.navbar-custom a
    color: #434A54
    &:hover
        opacity: .8;
.navbar-custom .nav>li>a:focus,
.navbar-custom .nav>li>a:hover
    background-color: rgba(0,0,0,0);
.contains-background-layer
    position: relative
.background-el
    position: absolute
    z-index: -1
    &.bottom-right
        bottom: 0
        right: 0
.glyphicon-background
    color: #F6F6F7
    &.glyphicon-xl
        font-size: 200px